﻿@model IEnumerable<LibraryHandler3.Models.Book>
@{
    ViewBag.Title = "Home Page";
}
<br />
<form>
<table class="table-bordered" id="BookTable">
    <tr>
        <th>Nazwa</th>
        <th>Autor</th>
    </tr>
    @foreach(var book in Model)
    {
        <tr id="@book.BookId">
            
            <td class="author">@book.Author</td>
            <td class="name">@book.Name</td>
            <td>
                <div class="btn btn-danger deleteBtn" onclick="DeleteBook(@book.BookId)">Usuń</div>
                <div class="btn btn-info editBtn" onclick="EditBook(@book.BookId)">Edycja</div>
            </td>
        </tr>
        
    }
    <tr>
        <td class="author"><input type="text" id="NewAuthor"/></td>
        <td class="name"><input type="text" id="NewName" /></td>
        <td>
            <div class="btn btn-success" onclick="NewBook()">Dodaj nową książkę</div>
        </td>
    </tr>
</table>
</form>
@section Scripts{
    <script type="text/javascript">
        function DeleteBook(id) {
            $.ajax({
                type: 'DELETE',
                url: "/api/LibraryBooks/DeleteBook/"+id,
                contentType: 'application/json',
                success: function (data) {
                    $("#" + id).remove();
                },
                error: function (error) {
                    console.log(error);
                    alert("Operacja nie udała się");
                }
            })

        }
        var arrayOfEditions=[];
        function EditBook(id) {
            var editedRow = $("#" + id);
            var authorCell = $(editedRow).find(".author")[0];
            var nameCell = $(editedRow).find(".name")[0];
            var editButtonCell = $(editedRow).find(".editBtn")[0];
            var deleteButtonCell = $(editedRow).find(".deleteBtn")[0];
            var authorValue = $(authorCell).text();
            var nameValue = $(nameCell).text();
            var editedBook = {
                BookId: id,
                Name: nameValue,
                Author: authorValue
            }
            arrayOfEditions.push(editedBook);
            $(authorCell).empty().append("<input type='text' class='author' value='" + authorValue + "'></input>");
            $(nameCell).empty().append("<input type='text' class='name' value='" + nameValue + "'></input>");
            $(editButtonCell).attr("onclick", "ConfirmEdition(" + id + ")").text("Zapisz");
            $(deleteButtonCell).attr("onclick", "RemoveChanges(" + id + ")").text("Anuluj");
        }

        function ConfirmEdition(id) {
            var editedRow = $("#" + id);
            var authorCell = $(editedRow).find(".author")[0];
            var nameCell = $(editedRow).find(".name")[0];
            var authorValue = $(authorCell).find("input").val();
            var nameValue = $(nameCell).find("input").val();
            var editedBook = {
                BookId: id,
                Name: nameValue,
                Author: authorValue
            };
            $.ajax({
                type: 'PUT',
                url: '/api/LibraryBooks/UpdateBook',
                data: JSON.stringify(editedBook),
                contentType: 'application/json',
                success: function () {
                    ReturnBookRowValuesToNormal(editedRow, editedBook);
                },
                error: function (error) {
                    console.log(error);
                    alert("Operacja nie udała się");
                }
            });
        }
        function RemoveChanges(id) {
            var editedRow = $("#" + id);
            //var authorCell = $(editedRow).find(".author")[0];
            //var nameCell = $(editedRow).find(".name")[0];
            //var editButtonCell = $(editedRow).find(".editBtn")[0];
            //var deleteButtonCell = $(editedRow).find(".deleteBtn")[0];
            var editedBook = arrayOfEditions.find(x=>x.Id == id);
            //$(authorCell).empty().text(editedBook.Author);
            //$(nameCell).empty().text(editedBook.Name);
            //$(editButtonCell).attr("onclick", "EditBook(" + id + ")").text("Edycja");
            //$(deleteButtonCell).attr("onclick", "DeleteBook(" + id + ")").text("Usuń");
            ReturnBookRowValuesToNormal(editedRow, editedBook);

        }
        function ReturnBookRowValuesToNormal(editedRow, book) {
            var authorCell = $(editedRow).find(".author")[0];
            var nameCell = $(editedRow).find(".name")[0];
            var editButtonCell = $(editedRow).find(".editBtn")[0];
            var deleteButtonCell = $(editedRow).find(".deleteBtn")[0];
            $(authorCell).empty().text(book.Author);
            $(nameCell).empty().text(book.Name);
            $(editButtonCell).attr("onclick", "EditBook(" + book.BookId + ")").text("Edycja");
            $(deleteButtonCell).attr("onclick", "DeleteBook(" + book.BookId + ")").text("Usuń");

        }

        function NewBook() {
            var book = {
                Author: $("#NewAuthor").val(),
                Name: $("#NewName").val(),

            };
            $.ajax({
                type:'POST',
                url: '/api/LibraryBooks/AddBook',
                data: JSON.stringify(book),
                contentType:'application/json',
                success:function(bookId){
                    $("#BookTable tr:last").before("<tr id='" + bookId + "'><td class='author'>" + book.Author + "</td><td class='name'>" + book.Name + "</td>" +
                        "<td><div class='btn btn-danger deleteBtn' onclick='DeleteBook(" + bookId + ")'>Usuń</div>"+
                        "<div class='btn btn-info editBtn' onclick='EditBook(" + bookId + ")'>Edycja</div></td>");
                    $("#NewAuthor").val("");
                    $("#NewName").val("");
                },
                error: function (error) {
                    console.log(error);
                    alert("Operacja nie udała się");
                }
            });
        }
    </script>
    }